*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: azure;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.container{
    max-width: 600px;
    margin: auto;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 15px;
    padding: 35px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input, button{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
}

button{
    margin: 25px 0;
    background-color: lightyellow;
    color: rgb(0, 15, 0);
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    border: 1.8px solid darkred;
    padding: 12px 0px;
    cursor: pointer;
    transition: 0.25s ease;
}

button:hover{
    transform: translateY(-2px);
    background-color: darkcyan;
    color: white;
}

button:active{
    transform: scale(0.97);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td{
    border: 1px solid rgb(49, 6, 49);
    padding: 8px;
    text-align: center;
}

th{
    background-color: rgb(198, 232, 129);
}
