*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(225, 241, 241);
    color: #333;
    line-height: 1.6;
}

.wrapper{
    width: 90%;
    max-width: 43.75em;
    margin: 2em auto;
    font-size: 16px;
}

h1{
    text-align: center;
    margin-bottom: 1.5em;
    color: rgb(9, 9, 108);
}

h3{
    margin-bottom: 0.8em;
    color: rgb(34, 34, 92);
}

.sub-container{
    margin: 0 auto 2em auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.card{
    background-color: lightgoldenrodyellow ;
    padding: 1.25em;
    border-radius: 8px;
    box-shadow: 0 0.6em 1.2em gray;
}

.Input-group{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

input[type="text"],
input[type="number"]{
    width: 100%;
    padding: 0.75em;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

input:focus{
    border: 2px solid darkblue;
    background-color: azure;
}

button{
    border: none;
    border-radius: 6px;
    padding: 0.75em;  
    background-color: #2ecc71;  
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

#add-income-btn:hover{
    border-width: 2px;
}

#add-income-btn:hover{
    border-width: 2px;
}

#add-expense-btn{
    background-color: #e74c3c;
}

button:hover{
    opacity: 0.9;
}

.lists-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-bottom: 2em;
}

.list-section{
    background: #ffffff;
    padding: 1.25em;
    border-radius: 8px;
    box-shadow: 0 0.6em 1.2em gray;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

li:last-child{
    border-bottom: none;
}

.summary-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 2em;
}

.summary-box{
    background-color: #ffffff;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0.6em 1.2em gray;
}

.summary-box p{
    font-size: 0.85em;
    color: rgb(19, 15, 97);
    margin-bottom: 0.3em;
}

.summary-box h2{
    font-size: 1.2em;
}

.income-box{
    color: rgb(15, 103, 15);
}

.expense-box{
    color: rgb(185, 50, 50);
}

.balance-box{
    color: rgb(76, 8, 21);
}

.reset-btn{
    grid-column: 1 / -1;
    width: 100%;
    box-shadow: 0 0.6em 1.2em gray;
    margin: 2em 0;
    padding: 0.75em;
    font-size: 0.95em;
    font-weight: bold;
    color: rgb(239, 243, 239);
    background-color: rgb(54, 27, 163);
    cursor: pointer;
    transition: 0.25s ease;
}

.reset-btn:hover{
    border: 2px solid darkblue;
    transform: translateY(-2px);
    background-color: lightgoldenrodyellow;
    color: #333;
}

.reset-btn:active{
    transform: scale(0.97);
}